<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<title>Angular Blog</title>
	
	<link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />

	<link href="/stylesheets/style.css" rel="stylesheet" />

</head>
<body>
	<nav class="navbar navbar-default" ng-controller="NavController as navCtrl">
		<div id="navContainer" class="container-fluid hide">
			<div class="navbar-header">
		      	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        	<span class="sr-only">Toggle navigation</span>
		        	<span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		      	</button>
		      	<a class="navbar-brand" href="/">Blog</a>
		    </div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="#/">Home</a>
					</li>

					<li ng-if="navCtrl.isPermit('user')">
						<a href="#/message">Message</a>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li ng-if="navCtrl.isPermit('anonymous')">
						<a href="#/register">Register</a>
					</li>
					<li ng-if="navCtrl.isPermit('anonymous')">
						<a href="#/login">Login</a>
					</li>
					<li ng-if="navCtrl.isPermit('user')">
						<a href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div id="container" class="container">
		<div ui-view></div>
	</div>

	<footer class="footer">
		<div class="container">
			<p class="text-muted">
				<a href="/" target="_blank">Blog</a> 2016
			</p>
		</div>
	</footer>

	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/lib/angular/angular.min.js"></script>
	<script src="/lib/angular-ui-router/release/angular-ui-router.min.js"></script>

	<script src="/javascripts/app.module.js"></script>
	<script src="/javascripts/app.config.js"></script>
	<script src="/javascripts/app.run.js"></script>

	<script src="/javascripts/services/userApi.js" ></script>
	<script src="/javascripts/services/messageApi.js" ></script>
	<script src="/javascripts/services/userManager.js" ></script>

	<script src="/javascripts/controllers/navController.js" ></script>
	<script src="/javascripts/controllers/registerController.js" ></script>
	<script src="/javascripts/controllers/loginController.js" ></script>
	<script src="/javascripts/controllers/messageController.js" ></script>

	<script src="/javascripts/app.bootstrap.js"></script>

	<script type="text/javascript">
		var context = {};
	</script>

</body>
</html>